
<style>
  .btn {
    margin-right: 50px;
  }
</style>
<div class="container">
  <h2>Category of Development Department</h2>
  <div class="form-group">
    <!-- <label for="categoryID">Category ID:</label> -->
    <div class="hide-expired">
      <input type="checkbox" id="hideExpiredCheckbox" [(ngModel)]="hideExpired">
      <label for="hideExpiredCheckbox">Hide Expired Content</label>
    </div>
    <!-- ... Category ID input field ... -->
    <button class="btn btn-primary" (click)="getContentByCategory()">Get Content</button>
  </div>
  <br>

  <div *ngIf="contents.length > 0">
      <div class="dropdown sorting-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Sort By
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortingDropdown">
          <li><button class="dropdown-item" (click)="sortContents('retentionPeriodAsc')">Retention Period (Asc)</button></li>
          <li><button class="dropdown-item" (click)="sortContents('retentionPeriodDesc')">Retention Period (Desc)</button></li>
          <li><button class="dropdown-item" (click)="sortContents('fileTypeAsc')">File Type (Asc)</button></li>
          <li><button class="dropdown-item" (click)="sortContents('fileTypeDesc')">File Type (Desc)</button></li>
        </ul>
      </div>
    
    
    
    <h3>Contents:</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let content of contents">
        <h4>{{ content.title }}</h4>
        <p> about content:{{ content.description }}</p>
        <p>File Type: {{ content.fileType }}</p>
        <p>File URL: 
          <a href="{{ content.fileURL }}" class="btn btn-primary" target="_blank">Show File</a>
        </p>
        <p>Retention Period: {{ content.retentionPeriod }}</p>
      </li>
    </ul>
  </div>
</div>
