




















<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="padding-bottom: 90px;">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

            <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">

              <div class="form-outline mb-4">
                <input type="hidden" name="UserID" [value]="userService.userData.UserID">

                <label for="username" class="float-left">Username</label>
                <div *ngIf="username.invalid && (username.touched || username.dirty)" class="float-right">
                  <p class="text-danger">Username is required</p>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Enter Username"
                  #username="ngModel" [(ngModel)]="userService.userData.Username" required>
              </div>
              
<div class="form-outline mb-4">
<label for="password" class="float-left">Password</label>
<div *ngIf="password.invalid && (password.touched || password.dirty)">
  <p class="text-danger">Password must between 8 to 16 charecter</p>
</div>
<input type="password"
  name="password"
  class="form-control"
  placeholder="Enter Password"
  #password="ngModel"
  [(ngModel)]="userService.userData.Password"
  required
  minlength="8"
  maxlength="20">
</div>

              <div class="form-outline mb-4">
                <label for="email" class="float-left">Email</label>
                <div *ngIf="email.invalid && (email.touched || email.dirty)" class="float-right">
                  <p class="text-danger">Email is required</p>
                </div>
                <input type="email" name="email" class="form-control" placeholder="Enter Email" #email="ngModel"
                  [(ngModel)]="userService.userData.Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
              </div>

              <div class="form-outline mb-4">
                <label for="phonenumber" class="float-left">Phone Number</label>
                <div *ngIf="phonenumber.invalid && (phonenumber.touched || phonenumber.dirty)"
                  class="float-right">
                  <p class="text-danger">Phone number is required</p>
                </div>
                <input type="text" name="phonenumber" class="form-control" placeholder="Enter Phone Number"
                  #phonenumber="ngModel" [(ngModel)]="userService.userData.Phonenumber" required pattern="[0-9]{10}">
              </div>
<div class="form-outline mb-4">
<label for="JobID" class="label float-left">Job Role</label>
<div *ngIf="JobID.invalid && JobID.touched && JobID.value===0" class="float-right">
 
 
 <p class="text-danger">Required</p>
</div>

<select name="JobID" class="form-control" #JobID="ngModel" [(ngModel)]="userService.userData.JobID" required>
  <option value="0">Please Select</option>
  <option value="1">Manager</option>
<option value="2">HR</option>
<!-- <option value="3">Admin</option> -->
<option value="4">Developer</option>
<option value="5">Salesperson</option>
<option value="6">Marketing Specialist</option>
<option value="7">Accountant</option>
<option value="8">Customer Service Representative</option>
<option value="9">Operations Manager</option>
<option value="10">Quality Assurance Analyst</option>

</select>
<br>
<br>

              <div class="d-flex justify-content-center">
                <button type="submit" [disabled]="myForm.invalid"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
              </div>
              <br>
              <div class="d-flex justify-content-center">
                <button  class="btn btn-danger btn-block btn-lg gradient-custom-4 text-body" (click)="back()">Cancel</button>
              </div>
              <p class="text-center text-muted mt-5 mb-0">Already have an account?
                <a routerLink="/login" (click)="hideComponent()" class="fw-bold text-body">
                  <u>Login here</u>
                </a>
              </p>
            </div>
            </form>
    
            <footer class="footer">
              <div class="container">
                <span class="text-muted">© 2023 Content Management System. All rights reserved.</span>
              </div>
            </footer>